/* UTILITIES */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: calc(100% / 3 * 2);
    margin: 0 auto;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

/* color variables */
:root {
    --lightgray: rgba(246, 246, 246, 1);
    --white: rgba(255, 255, 255, 1);
    --header-background: rgba(49, 97, 225, 1);
    --footer-background: rgba(35, 39, 42, 1);
}

/* HEADER */
header {
    background-color: var(--header-background);
    height: 15rem;
}

.head-text {
    width: 40%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 1.3rem;
    padding: 0.65rem 0.75re;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

/* MAIN */
section.white {
    background-color: var(--white);
    height: 15rem;
}

section.grey {
    background-color: var(--lightgray);
    height: 15rem;
}

/* FOOTER */
footer {
    background-color: var(--footer-background);
    height: 15rem;
}
